
 /**********  GENERICS  **********/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family:'PT Sans', sans-serif;
  }

  
  





  /*******************************************************/
  

  /**********  UTILITIES  **********/
  /**** flex ****/

  
  .flex{
    display: flex;
  }

  
  .just-between{
    justify-content: space-between;
  }

  
  
  .items-center{
    align-items: center;
  }


  
  .wrap{
    flex-wrap: wrap;


  }



  
  .column{
    flex-direction: column;
  }




  /**** others ****/



  .container{
    
    width: 100%;
    padding: 0 25px;
     
  }


  
  .button{
    cursor: pointer;
    background-color: #0084fd ;
    text-decoration: none;
    border: none;
    padding: 4px 10px;
  }




  /*******************************************************/

 /**********  MAIN CONTENT **********/
 /**** header ****/



 
  header{
    position: fixed;
    width: 100%;
    background-color:#0084fd ;
    line-height: 80px;
    

  }
  
  

   

  img,.fa-2x{
    vertical-align: middle;
    color: white;


  }

  /**** main ****/

  
  main{
    padding-top: 110px;
    padding: 110px 25px 0 25px;
  }


  /**** cards-section ****/


  
  .card{
    background-color: #b5ddff;
    border-radius: 16px;
    padding: 25px 25px;

  }

  
  #phone-img{
    width: 100%;
  }








   /*******************************************************/