
 /**********  GENERICS  **********/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family:'PT Sans', sans-serif;
  }




  
  img{
    width: 100%;
  }
  
  





  /*****************************************************************/
  

  /**********  UTILITIES  **********/
  /**** flex ****/

  
  .flex{
    display: flex;
  }

  
  .just-between{
    justify-content: space-between;
  }

  
  
  .items-center{
    align-items: center;
  }


  
  .wrap{
    flex-wrap: wrap;


  }



  
  .column{
    flex-direction: column;
  }

  
  .flex-left{
    justify-content: left;
  }



  
  .flex-center{
    justify-content: center;
  }



  
  .gap{
    gap: 50px;
  }



  /**** others ****/



  .container{
    
    width: 100%;
    padding: 0 35px;
     
  }

  
  .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px; 
  }


  
  .division{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .button{
    cursor: pointer;
    background-color: #0084fd ;
    text-decoration: none;
    border: none;
    padding: 10px 12px;
    border-radius: 16px;
    width: 70%;
    color: white;
  }


  
  .fa-container{
    
    color: #0084fd ;
    text-align: center;
    font-size: 4.5rem;
   
    
  }

  
  .text-center{
    text-align: center;
  }



  
  .sections{
   
    padding: 120px 50px 40px 50px;
  }
  

  
  .w-100{
    width: 100%;
  }
  
  
 /*************************************************************/

 /******************  MAIN CONTENT ******************/
 /***************** Header *****************/



 
  header{
    position: fixed;
    width: 100%;
    background-color:#0084fd ;
    line-height: 80px;
    z-index: 100;
    
    

  }
  
  

   

  img,.fa-2x{
    vertical-align: middle;
    color: white;


  }

  /******************* Main *******************/

  
  


  /**** cards-section ****/


  
  .card{
    background-color: #b5ddff;
    border-radius: 16px;
    padding: 25px 25px 35px 25px;
    margin-bottom: 30px;
    gap: 20px;
    height: 100%;
    
    
    

  }

  
  #phone-img{
    width: 100%;
    position: relative;
    top: 35px;
  }

  
  .card h2{
    color: #0084fd;
  }


  /**** planning-section ****/



  
  #planning-section{
    background-color: #9792e4;
    color: white;
  }




  
  #plan-card{
    background-color: white;
    border-radius: 40px;
    

  }

  
  #plan-card h2,#plan-card p{
    color: black;
  }
  
  #arrow-down-div{
    background-color: #9792e4;
    clip-path: circle(20%);
    width: 20%;
    color: black;
    align-self: center;
    padding: 20px;
    
    
    
    
    
  }


  
  
  #plan-div:first-child{
    justify-content: center;
  }

  
  #plan-div h2{
    font-size: 3rem;
  }



  /**** testimonial-section ****/


  
  #testimonial-section div h2{
    color: #9792e4;
  }


  
  #testimonial-cards{
    background-color: #9792e4;
    color: white;
  }



  
  .testimonial-images{
    clip-path: circle(38%);
    
  }



  /**** benefit-section ****/

  
  #benefit-section{
    background-color: #9792e4;
    color: white;
  }




  
  #benefit-cards,#benefit-cards div h2{
    color: #9792e4;
    background-color: white;
    line-height: 2rem;
  }


  
  
  
  .p-benefit{
    color: black;
    
  }



  
  #benefit-button{
    background-color: #9792e4;
    color: white;
    width: 50%;
    padding: 7px 14px;
  }

  
  
  .h2-benefit-size{
    font-size: 3rem;
  }



  /**** about-us-section ****/

  
  #h2-about-us-section,#about-us-p{
    color: #9792e4;
    font-size: 3rem;
  }


  
  .parent{
    position: relative;
  }

  
  #over-image{
    position: absolute;
    bottom: 80%;
    left: 40%;
    font-size: 4rem;
    color: #9792e4;
  }

  
  #about-us-image{
    height: 70%;
    width: 70%;
    position: relative;
    right: 10%;

  }
  
  
  
  details{
    color: #9792e4;
    font-size: 2.3rem;



  }




  /**** tryal-section ****/



  
  #trial-section{
    background-color:#9792e4 ;
    color: white;
  }
  
  #trial-a{
    color:#cecdf2;
    text-decoration: none;
    font-size: 1.2rem;
    
  }


  
  #trial-h2{
    color: #fdc15f;
    font-size: 3rem;
  }
  


  
  #trial-button{
    background-color: white;
    color: #9792e4;
    padding: 10px 20px;
    font-size: 1.6rem;
    align-self: center;
  }


  
  span{
    color: white;
  }

  
  #a-policy{
    color: white;
  }


   /******************* Footer *******************/


  
  
  footer{
    background-color: #333333;
    color: white;
  }

  
  .a-footer{
    color: #67648f;
  }











/*******************************************************************/


   /******************* Media-Query *******************/



   @media screen and (min-width:768px) {

       
       #card-section .division{
        width: calc(100% / 3);
        padding: 0 10px;
        

       }
       
       
       #card-section .division:first-child{
        width: calc(100% / 3 * 2);
       }


       
       .button{
        width: 50%;
       }

       
       #phone-img{
        width: 50%;
       }



       
       #testimonial-cards{
        flex-direction: row;
       }

       
       
     
       
       



        
        
      
       
    
   }


